fashion-clip==0.2.1
torch
torchvision
tensorboard
matplotlib
tqdm
fastapi
opencv-python-headless
uvicorn
snoop
scikit-learn
scikit-image
fastapi
torchshow
icecream
nltk
ftfy
regex
ipykernel
streamlit
translatepy
Pillow
seaborn
