fashion-clip
matplotlib
ipykernel
tqdm
PyQt5
fastapi
opencv-python-headless
uvicorn
snoop
scikit-learn
ftfy
regex
scikit-image
torch==1.13.1 
torchvision==0.14.1
pytorch_lightning==1.9.5
git+https://github.com/katsura-jp/pytorch-cosine-annealing-with-warmup
fastapi
torchshow
icecream
tensorboard
polars
nltk
h5py
