fashion-clip
matplotlib
tqdm
fastapi
opencv-python-headless
uvicorn
snoop
scikit-learn
scikit-image
fastapi
torchshow
icecream
nltk
pytorch_lightning==1.9.5
git+https://github.com/katsura-jp/pytorch-cosine-annealing-with-warmup
torchvision
ftfy
regex
