fashion-clip
matplotlib
tqdm
fastapi
opencv-python-headless
uvicorn
snoop
scikit-learn
scikit-image
fastapi
torchshow
icecream
nltk
torchvision
ftfy
regex
PyQt5
ipykernel
onnx
onnxruntime
optimum[exporters]
